@font-face {
	font-family: "Paragraph";
	src: url(../font/paragraph.ttf);
}

@font-face {
	font-family: "Heading";
	src: url(../font/heading.woff);
}

@font-face {
	font-family: "Tiny";
	src: url(../font/tiny.woff);
}

@font-face {
	font-family: "S";
	src: url(../font/synapsian.ttf);
}

@font-face {
	font-family: "A";
	src: url(../font/makina.otf);
}

html {
	background-color: #ff06ef;
	color: #92ff06;
	font-family: "Paragraph";
	font-size: 16px;
	cursor: url(../img/ui/cursor.png), default;
	min-width: 100%;
	min-height: 100%;
	background-attachment: fixed;
}

a {
	cursor: url(../img/ui/pointer.png), default;
	color: inherit;
	text-decoration: none;
}

body {
	margin: 0 !important;
	padding: 0 !important;
}

*::-moz-selection {
	color: #000;
	background-color: #FFF;
}

*::selection {
	color: #000;
	background-color: #FFF;
}

#index {
	background-color: #000;
	background-image: url(../img/bg/index.png);
	background-attachment: fixed;
	background-position: center;
	padding-left: 10vw;
	padding-right: 10vw;
	padding-top: 5em;
	padding-bottom: 5em;
}

.seperator {
	width: 100%;
	height: 32px;
	background-image: url(../img/ui/seperator.png);
}

.seperate {
	width: 100%;
	height: 32px;
	background-image: url(../img/ui/seperate.png);
}

h1 {
	font-family: Heading;
	font-size: 2em;
}

.padded {
	padding-left: 10vw;
	padding-right: 10vw;
}

.overload {
	margin-left: 20vw;
	width: calc(100% - 40vw);
	background-color: #000;
}

.reference {
	color: #FF0;
}

.reference.internal:hover,
.reference.external:hover
{
	color: #000;
	background-color: #FF0;
}

.indexlist {
	width: calc(100% - 170px);
	display: inline-block;
	height: 64px;
	line-height: 64px;
	vertical-align: 28px;
}

.indexlist span {
	display: inline-block;
	vertical-align: middle;
	line-height: normal;
}

.indexlist a, .linkt1 {
	color: #FFFF00;
}

.indexlist a:hover, .linkt1:hover {
	background-color: #FFFF00;
	color: #000;
}

.overno {
	color: #888 !important;
	pointer-events: none;
}

.overno:hover {
	background-color: #888 !important;
	color: #000 !important;
}


/* Scanlines */

#overlay {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	pointer-events: none;
	z-index: 1000;
	background-image: url(../img/ui/static/overlay.png);
	background-repeat: all;
	background-position: 0px 0px;

	animation-name: Static;
	animation-duration: 2s;
	animation-iteration-count: infinite;
	animation-timing-function: steps(4);

	box-shadow: inset 0px 0px 10em rgba(0,0,0,0.4);
}

@keyframes Static {
	0% { background-position: 0px 0px; }
	100% { background-position: 0px 4px; }
}

#overlay2 {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	pointer-events: none;
	z-index: 1000;
	background-image: url(../img/ui/static/overlay2.png);
	background-repeat: all;
	background-position: 0px 0px;

	animation-name: Static;
	animation-duration: 0.8s;
	animation-iteration-count: infinite;
	animation-timing-function: steps(4);
}


/* Scrollbars */

::-webkit-scrollbar
{
	width: 8px;  /* for vertical scrollbars */
	height: 8px; /* for horizontal scrollbars */
}

::-webkit-scrollbar-track
{
	background: rgba(0, 0, 0, 0);
}

::-webkit-scrollbar-thumb
{
	background: rgba(255, 255, 255, 1);
}

.syn {
	font-family: S;
}

/* Input boxes */

input:focus, button:focus, select:focus, textarea:focus {
	outline: none!important;
}

/* Default */
input.normal, button.normal, select.normal, textarea.normal {
	background-color: #000;
	color: #FFF;
	border:0.020em solid #FFF;
	box-shadow: 0px 0.2em #FFF;
	position: relative;
	font-family: A;
	font-size: 18px;
	top: 0px;
	cursor: url(../img/ui/pointer.png), default;
}

button:hover {
	top: 0.15em;
	box-shadow: 0px 0.05em #FFF;
	background-color: #FFF;
	color: #000;
}

/* Radio buttons and checkboxes */
input[type="radio"], input[type="checkbox"] {
	border: 0;
	box-shadow: none;
}

/* Minimal-ish input boxes */
input.minimal {
	box-shadow: none;
}
