video#bgvid { 
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    background: url(polina.jpg) no-repeat;
    background-size: cover; 
}


@import 'https://csshake.surge.sh/csshake.min.css';
@import 'https://fonts.googleapis.com/css?family=Rock+Salt';

@font-face { font-family: CNT; src: url('https://pornspace.netlify.com/res/font/countdown.ttf'); } 

html {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #000000;
  color: #92ff06;
  font-family: "Paragraph";
  font-size: 16px;
  cursor: url(https://pornspace.netlify.com/res/img/ui/cursor.png), default;
  min-width: 100%;
  min-height: 100%;
  background-attachment: fixed;
}

h1 {
  font-family: CNT;
  width: 100%;
  text-align: center;
  font-size: 3em;
  margin: 20% auto;
  left: 0;
  line-height: 200px;
  margin: auto;
  margin-top: -100px;
  position: absolute;
  top: 50%;
  color :#AB3830;
}

a {
	cursor: url(https://pornspace.netlify.com/res/img/ui/pointer.png), default;
	color: inherit;
	text-decoration: none;
}

/* Default */
input.normal, button.normal, select.normal, textarea.normal {
	background-color: #000;
	color: #FFF;
	border:0.020em solid #FFF;
	box-shadow: 0px 0.2em #FFF;
	position: relative;
	font-family: A;
	font-size: 18px;
	top: 0px;
	cursor: url(https://pornspace.netlify.com/res/img/ui/pointer.png), default;
}

#overlay {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	pointer-events: none;
	z-index: 1000;
	background-image: url(https://systemspace.network/res/img/ui/static/overlay.png);
	background-repeat: all;
	background-position: 0px 0px;

	animation-name: Static;
	animation-duration: 2s;
	animation-iteration-count: infinite;
	animation-timing-function: steps(4);

	box-shadow: inset 0px 0px 10em rgba(0,0,0,0.4);
}

@keyframes Static {
	0% { background-position: 0px 0px; }
	100% { background-position: 0px 4px; }
}

#overlay2 {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	pointer-events: none;
	z-index: 1000;
	background-image: url(https://systemspace.network/res/img/ui/static/overlay2.png);
	background-repeat: all;
	background-position: 0px 0px;

	animation-name: Static;
	animation-duration: 0.8s;
	animation-iteration-count: infinite;
	animation-timing-function: steps(4);
}
